.mainContainer {
    display: flex;
    min-height: fit-content;
    max-height: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;
}

.container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: relative;
    z-index: 1;
    border-radius: 5px;
    z-index: 1;
}
.container::before {
    content: '';
    position: absolute;
    inset: 0;

    border-radius: inherit;
    border: solid 8px transparent;
    background: var(--yellow-green-purple-gradient);
    mask:
    linear-gradient(#000 0 0) padding-box, 
    linear-gradient(#000 0 0);
    mask-composite: exclude;
    z-index: 0;

}



.container h2,
.container h3 {
    margin: 0;
}

.subContainer {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.nestedContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nestedContainer p {
    -webkit-text-stroke-width: var(--webkit-text-stroke-width);
    -webkit-text-stroke-color: var(--webkit-text-stroke-color);
}

.otherRow1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.otherRow1 p {
    margin-bottom: 0;
}