.mainContainer {
    display: flex;
    min-height: fit-content;
    max-height: 100%;
    padding: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    flex-shrink: 0;
    align-self: stretch;
}

.container {
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    position: relative;
    border-radius: 0.5rem;
    z-index: 1;
}
.container::before {
    content: '';
    position: absolute;
    inset: 0;

    border-radius: inherit;
    border: solid 8px transparent;
    
    mask:
    linear-gradient(#000 0 0) padding-box, 
    linear-gradient(#000 0 0);
    mask-composite: exclude;
    z-index: 0;
}
[data-theme='dark'] .container::before {
    background: var(--purple-blue-gradient);
}
[data-theme='light'] .container::before {
    background: var(--orange-gradient);
}
.container h2,
.container h3 {
    margin: 0;
}

.subContainer {
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;

    position: relative;
    border-radius: 0.5rem;
    z-index: 1;
}

[data-theme='dark'] .subContainer {
    background: var(--dark-to-gray-bg-alt);
}
[data-theme='light'] .subContainer {
    background: var(--light-blue-gradient-bg);
}

.nestedContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.nestedContainer p {
    font-size: 1.1rem;
    font-weight: 500;
    -webkit-text-stroke-width: var(--webkit-text-stroke-width);
    -webkit-text-stroke-color: var(--webkit-text-stroke-color);
}

.otherRow1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.otherRow1 p {
    margin-bottom: 0;
}

/* For mobile screen */
@media only screen 
and (min-width: 300px) 
and (max-width: 480px)
{
    .mainContainer {
        width: 100%;
        min-height: fit-content;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.25rem 0;
        gap: 1.25rem;
    }

    .container {
        max-width: 90%;
        display: flex;
        padding: 1.25rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        align-self: center;
    
        position: relative;
        border-radius: 0.5rem;
        z-index: 1;
    }
    .container::before {
        content: '';
        position: absolute;
        inset: 0;
    
        border-radius: inherit;
        border: solid 8px transparent;
        
        mask:
        linear-gradient(#000 0 0) padding-box, 
        linear-gradient(#000 0 0);
        mask-composite: exclude;
        z-index: 0;
    }
    .container h2 {
        font-size: 2rem;
    }
    .container h3 {
        font-size: 1.5rem;
    }

    .subContainer {
        max-width: 80%;
        display: flex;
        
        padding: 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        align-self: center;
    
        position: relative;
        border-radius: 0.5rem;
        z-index: 1;
    }
    .nestedContainer {
        width: 80%;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
    }
}