
:root {
    /* customBorder */
    --dark-profile-border-gradient: linear-gradient(145deg, #5A6BB4 6%, #ECEEFF 91.36%);
    --light-profile-border-gradient: linear-gradient(154deg, #A5E8FF 8.38%, #E6F4F1 50%, #69F4FE 91.62%);
    
    --dark-contact-border-gradient: linear-gradient(101deg, #E25C8D 5.52%, #FF8471 49.77%, #FFBD5E 93.54%);
    --dark-contact-background: #6c8bf5;
    --light-contact-border-gradient: linear-gradient(105deg, #00C6C0 0.43%, #FCFCD4 50.04%, #C7CEF8 99.57%);
    --light-contact-background: #e9efff;

    --dark-project-border-gradient: linear-gradient(180deg, #FFBD5E 0%, #FF8471 50.28%, #994D9F 100%);
    --light-project-border-gradient: linear-gradient(180deg, #00C8CE 0%, #E3CEA7 33.33%, #6EFACC 66.67%, #E6F4F1 100%);

    --dark-hr-gradient: linear-gradient(to left, rgba(187, 198, 255, 0) 0%, #bbc6ff 50%, rgba(187, 198, 255, 0) 100%);
    --dark-hr: #bbc6ff;
    --light-hr-gradient: linear-gradient(to left, rgba(160, 168, 201, 0) 0%, #a0a8c9 50%, rgba(160, 168, 201, 0) 100%);
    --light-hr: #a0a8c9;
    /* /customBorder */

    /* customBackground */
    --light-background-default: #f0f5f7;
    --dark-background-default: #242424;
    --light-background-gradient: linear-gradient(135deg, #e6f4fc 0%, #b0b1f6 100%);
    --dark-background-gradient: linear-gradient(180deg, #274898 0%, #0F1F43 100%);

    --dark-header-gradient-bg: linear-gradient(180deg, transparent 0%, transparent 88%, #7FA4FF 100%);
    --light-header-gradient-bg: linear-gradient(180deg, transparent 88%, #a285ab 100%);

    --dark-skills-gradient-bg: linear-gradient(90deg, #18316A 0.1%, #23489B 99.9%);
    --light-skills-gradient-bg: linear-gradient(135deg, #e6f4fc 0%, #b0b1f6 100%);
    /* /customBackground */

    /* customTextColor */
    --text-darkmode-color: #ffffff;
    --text-lightmode-color: #213547;

    --text-darkmode-underline: #6cfacd;
    --text-lightmode-underline: #3c475e;

    --text-hover-darkmode-color: #f9f871;
    --text-hover-lightmode-color: #00a6fc;

    --text-shadow-darkmode: 1px 1px 2px rgba(255, 255, 255, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.8);
    --text-shadow-lightmode: 1px 1px 3px rgba(255, 255, 255, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* /customTextColor */

    /* otherCustomNames */
    --webkit-text-stroke-width: 1;
    --webkit-text-stroke-color: #808080;
    /* /otherCustomNames */

}