
.ferdighetContainer {
    display: grid;
    width: 100vw;
    height: 100vw;
    max-height: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 6fr auto;
    grid-template-areas: 
        'header header header'
        'main main main'
        'footer footer footer';
    gap: 10px;
}
.header {
    grid-area: header;
    height: 100%;
}
.main {
    grid-area: main;
    -webkit-text-stroke-width: var(--webkit-text-stroke-width);
    -webkit-text-stroke-color: var(--webkit-text-stroke-color);
}
.footer {
    grid-area: footer;
    height: 100%;
}