.container {
    /* background: white; */
    position: relative;
    z-index: 1;
}


#themeContainer {
    position: absolute;
    top: 1.4375rem;
    right: 2.5rem;
   
}

/* Theme Button */
#modeImage {
  width: 2rem;
  height: 2rem;

}

#themeButton {
    border-radius: 3.125rem;
    border: 1px solid transparent;
    padding: 0.4rem 0.4rem 0.15rem 0.35rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  #themeButton:hover {
    border-color: none;
    background-color: rgba(128, 128, 128, .5);
  }
  #themeButton:focus,
  #themeButton:focus-visible {
    outline: inherit;
    box-shadow: none;
  }
  /* /Theme Button */

  /* For mobile screen */
@media only screen 
and (min-width: 300px) 
and (max-width: 480px)
{
  .container {
    width: 100vw;
  }
  #themeContainer {
    position: absolute;
    top: 0.9rem;
    right: 0;
}
}