.container {
    /* background: white; */
    position: relative;
    z-index: 1;
}


#themeContainer {
    position: absolute;
    top: 1rem;
    right: 1rem;
   
}

/* Theme Button */
#modeImage {
    width: 2em;
    height: 2em;
}

#themeButton {
    border-radius: 50px;
    border: 1px solid transparent;
    padding: 0.4em 0.4em 0.15em 0.35em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
   
  }

  #themeButton:hover {
    border-color: none;
    background-color: rgba(128, 128, 128, .5);
    
  }
  #themeButton:focus,
  #themeButton:focus-visible {
    outline: inherit;
    box-shadow: none;
  }
  /* /Theme Button */