
a.linkBox {
    text-decoration: none;
    width: 12.5rem;
}
[data-theme="light"] a.linkBox:hover {
    color: var(--text-hover-lightmode-color);
}

.linkBox {
    display: flex;
    height: fit-content;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    text-decoration: none;

    border-radius: 0.625rem;
    position: relative; 
    z-index: 1;
}
[data-theme='dark'] .linkBox {
    background-color: var(--dark-contact-background);
    border-radius: 0.625rem;
}
[data-theme='light'] .linkBox {
    background-color: var(--light-contact-background);
    border-radius: 0.625rem;
}
.linkBox::before {
    content: '';
    position: absolute;
    inset: 0;

    border-radius: inherit;
    border: 5px solid transparent;
    
    mask: 
    linear-gradient(#000 0 0) padding-box, 
    linear-gradient(#000 0 0);
    mask-composite: exclude;
    z-index: 0;
}
[data-theme='dark'] .linkBox::before {
    background: var(--dark-contact-border-gradient) border-box;
}
[data-theme="light"] .linkBox::before {
    background: var(--light-contact-border-gradient) border-box;
}

.text {
    -webkit-text-stroke-width: var(--webkit-text-stroke-width);
    -webkit-text-stroke-color: var(--webkit-text-stroke-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
    z-index: 1;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconContainer img {
    width: 2rem;
}