
.projectBoxLink {
    width: 18rem;
    height: 20rem;
    text-decoration: none;
    position: relative;
    display: flex;
}

.projectBox {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.625rem;
    /* align-self: stretch; */
   
    border-radius: 0.3125rem;
    position: relative;
    z-index: 1;
}
.projectBox::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1rem;

    border-radius: 0.3125rem;
    border: 8px solid transparent;
    mask: 
    linear-gradient(#000 0 0) padding-box,
    linear-gradient(#000 0 0);
    mask-composite: exclude; 
    
    z-index: 0;
}
[data-theme='dark'] .projectBox::before {
    background: var(--dark-project-border-gradient) border-box;
}
[data-theme='light'] .projectBox::before {
    background: var(--light-project-border-gradient) border-box;
}

[data-theme='dark'] .projectBox:hover p {
    color: var(--text-hover-darkmode-color);
}
[data-theme='light'] .projectBox:hover p {
    color: var(--text-hover-lightmode-color);
}

.projectBox p {
    width: 14.375rem;
    height: fit-content;
    margin: 0;
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: center;

    color: white;
    z-index: 1;
    transition: transform 0.05s;
}

.projectBox span {
    width: auto;
    margin: 0;
    padding: 0 0.5rem;
    z-index: 1;
    color: white;

    overflow-x: auto;
}
.projectBox span:hover {
    color: white;
}

.projectBox img {
    width: 100%;
    align-self: baseline;
}