
:root {
    /* customBorder */
    --dark-silver-gradient: linear-gradient(180deg, #202020 1%, #444 40%, #6B6B6B 55%, #949494 75%, #C0C0C0 90%);
    --orange-gradient: conic-gradient(from 180deg at 50% 50%, #D7AC00 36.0000005364418deg, #F33636 142.20000386238098deg, #C2E004 216.00000858306885deg, #FA51AE 325.7999897003174deg);
    --purple-blue-gradient: conic-gradient(from 45deg at 50% 50%, #736ADC 72.0000010728836deg, #9A98B7 165.6000030040741deg, #3080DC 302.39999055862427deg);
    --yellow-green-gradient: conic-gradient(from 180deg at 50% 50%, #CFDE0A 88.20000171661377deg, #FFF 200.8088994026184deg, rgba(106, 216, 43, 0.63) 320.4788088798523deg);
    /* /customBorder */

    /* customBackground */
    --lightblue-gradient-bg: linear-gradient(135deg, #e6f4fc 0%, #b0b1f6 100%);
    --dark-gradient-bg: linear-gradient(270deg, #444 14.5%, #373636 53%, #242424 92%);
    --dark-gradient-bg-smooth: linear-gradient(270deg, #444 20%, #373636 50%, #242424 80%);
    --dark-to-gray-bg: linear-gradient(90deg, #333131 50.5%, #5F5D5D 89.5%, rgba(131, 131, 131, 0.56) 100%);
    --dark-to-gray-bg-alt: linear-gradient(90deg, #333131 46.5%, #474646 80.5%, rgba(101, 101, 101, 0.56) 100%);
    --light-blue-gradient-bg: linear-gradient(286deg, #CFD8F9 -5.96%, #BCBDFF 35.52%, #ADAEFF 81.5%);;
    /* /customBackground */

    /* customTextColor */
    --text-hover-darkmode-color: #bbbaba;
    --text-hover-lightmode-color: #798dfd;
    /* /customTextColor */

    /* otherCustomNames */
    --webkit-text-stroke-width: 1;
    --webkit-text-stroke-color: #808080;
    /* /otherCustomNames */

}