/* root */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.3s ease, color 0.3s ease;

  overflow-x: hidden;
}

/* /root */