/* root */
#root {
  min-width: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--text-color);

  background-color: var(--background-color);
  background: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  transition: background-color 0.3s ease, color 0.3s ease,;
  overflow-x: hidden;
}
/* /root */

.appContainer {
  display: grid;
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 6fr auto;
  grid-template-areas: 
  'header header header'
  'main main main'
  'footer footer footer';
}

header {
  grid-area: header;
  height: 100%;
}
main {
  grid-area: main;
  -webkit-text-stroke-width: var(--webkit-text-stroke-width);
  -webkit-text-stroke-color: var(--webkit-text-stroke-color);
}
footer {
  grid-area: footer;
  height: 100%;
}

/* For mobile screen */
@media only screen 
and (min-width: 360px) 
and (max-width: 412px) 
and (min-height: 800px) 
and (max-height: 915px) 
{
  .appContainer {
    display: grid;
    width: 100vw;
    min-height: 100vh;
    max-height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'header'
    'main'
    'footer';
  }
  head {
    grid-area: header;
    -webkit-text-stroke-width: var(--webkit-text-stroke-width);
    -webkit-text-stroke-color: var(--webkit-text-stroke-color);
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
}